#h1 {
  font-family:'Lato';
}

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color:#D1E6E9;
}


.header {
  background-color:#9CB8CD; 
  width:96%;
  font-family:'Lato';
}

.background {
  background-color:#D1E6E9;
  width:96%;
  font-family:'Lato';
  height:100%;
  min-height:100%;
}

.container {
  background-color:#D1E6E9; 
  width:100%;
  font-family:'Lato';
  min-height:100%;
}

.container-nav  {
  background-color:#37566C; 
}

table {
  width:96%;
  border: 3px solid;
  border-color: #37566C;
}

th, td {
    padding: 10px;
    border: 2px solid;
    border-color: #37566C;

} 

.navbar-default .navbar-nav>li>a {
  color:#D1E6E9;
  font-weight:bold;
}

.navbar-default {
  background-color:#9CB8CD;
  border-color:#9CB8CD;
  padding-bottom:3px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color:#9CB8CD;
  color:#37566C;
    outline-color:#37566C;
  color:#37566C;
  outline-style:solid;
  outline-width: 3px;
  outline-offset:-9px;
}

.navbar navbar-default navbar-fixed-top {
  background-color:#37566C;
}

.active {
  outline-color:#37566C;
  color:#37566C;
  outline-style:solid;
  outline-width: 3px;
  outline-offset:-5px;
}

iframe {
  padding:10px;
  background-color:#9CB8CD;
  width:320px;
  height:240px;
  margin-top:10px;
}

.purchase-btn {
  margin-top:5px;
}

.render-thumb {
  width:80px;
  margin:5px;
  border-style:solid;
  border-color:#1A2934;
  border-width:2px;
}

.render-grp {
  background-color:#9CB8CD;
}

.button-grp {
  padding:10px;
  background-color:#9CB8CD;
  width:320px;
}

.model-grp {
  background-color:#37566C;
  padding-bottom:10px;
}

.post-preview, .post-subtitle {
  color:#D1E6E9;
  background-color:#5483A5;
}

.post-title {
  color:#37566C;
  background-color:#9CB8CD;
}

.post-title:hover {
  text-decoration:none;
}

.blog-top {
  background-color:#37566C;
  padding:10px;
}

.col-md-offset-1 {
  margin-left:5px;
  width:99%;
}

h2 {
  line-height:1.5;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  -webkit-transition: outline-color 0.5s;
  outline-color:transparent;
  float:left;
}

h2:hover {
  outline-color:#37566C;
  color:#37566C;
  outline-style:solid;
  outline-width: 3px;
  text-decoration:none; 
}

.img-thumbnail {
  background-color:#37566C;
  border-color:#37566C;
  height:150px;
  width:200px;
  margin-top:30px;
  margin-bottom:10px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.blog-description {
  padding-left:10px;
  padding-right:10px;
  text-align:left;
}

.post-meta {
    padding-left:10px;
    padding-bottom:10px;
    padding-top:10px;
    background-color: #37566C;
}

.navbar .brand, .navbar .nav > li > a {
  outline-color:transparent;
  -webkit-transition: outline-color 0.5s;
}

.navbar .brand, .navbar .nav > li > a:hover {
  color:#D1E6E9;
  outline-color:#9CB8CD;
  outline-style:solid;
  outline-width: 3px;
  outline-offset: -10px;
}

.readMore {
  color:#37566C;
  outline-color:transparent;
  -webkit-transition: outline-color 0.5s;
}

.readMore:hover {
  color:#37566C;
  outline-color:#37566C;
  outline-style:solid;
  outline-width: 2px;
  outline-offset: 3px;
  text-decoration:none; 
}

.photography-gallery {
  background-color:#37566C;
  padding-top:10px;
  padding-bottom:10px;
}

.photography-thumb {
  width:200px;
  margin:5px;
  border-style:solid;
  border-color:#1A2934;
  border-width:4px;
}

.photography-title {
  background-color:#9CB8CD;
  padding-bottom:5px;
  padding-top:5px;
  margin-left:10px;
  margin-bottom:5px;
  margin-right:10px;
  margin-top:0px;
}



/*

Dark Dark
#1A2934

Dark
#37566C

Medium Dark
#5483A5

Medium Light
#9CB8CD

Light
#D1E6E9

*/