h1 {
  font-family:'Lato';
  line-height:1.4;
}

h3 {
  line-height:1.2;
  color:#1A2934;
  
}

.h3-link:hover {
  outline-color:#1A2934;
  color:#1A2934;
  outline-style:solid;
  outline-width: 2px;
  text-decoration:none; 
  outline-offset:3px;
}

.h3-link {
  text-decoration:none;
  -webkit-transition: outline-color 0.5s;
  outline-color:transparent;
  float:left;
}

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color:#D1E6E9;
}

.btn-primary {
  margin-right:5px;
}

.header {
  background-color:#9CB8CD; 
  width:96%;
  font-family:'Lato';
}

.background {
  background-color:#D1E6E9;
  width:96%;
  font-family:'Lato';
  height:100%;
  min-height:100%;
}

.container {
  background-color:#D1E6E9; 
  width:100%;
  font-family:'Lato';
  min-height:100%;
}

.container-blog {
  margin-left:-15px;
  padding:0px;
}

.blog-row {
  margin-left:0px;
  margin-right:0px;
}

.container-blog-body {
  margin:0px;
  padding:0px;
  width:96%;
}

.container-nav  {
  background-color:#37566C; 
}

table {
  width:96%;
  border: 3px solid;
  border-color: #37566C;
}

th, td {
    padding: 10px;
    border: 2px solid;
    border-color: #37566C;

} 

.navbar-default .navbar-nav>li>a {
  color:#D1E6E9;
  font-weight:bold;
}

.navbar-default {
  background-color:#9CB8CD;
  border-color:#9CB8CD;
  padding-bottom:3px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color:#9CB8CD;
  color:#37566C;
  outline-color:#37566C;
  color:#37566C;
  outline-style:solid;
  outline-width: 3px;
  outline-offset:-9px;
}

.navbar navbar-default navbar-fixed-top {
  background-color:#37566C;
}

.nav-home {

}

.active {
  outline-color:#37566C;
  color:#37566C;
  outline-style:solid;
  outline-width: 3px;
  outline-offset:-5px;
}

iframe {
  padding:5px;
  background-color:#9CB8CD;
  width:100%;

  margin-top:10px;
  margin-left:10px;
}

.purchase-btn {
  margin-top:5px;
}

.render-thumb {
  width:80px;
  margin:5px;
  border-style:solid;
  border-color:#1A2934;
  border-width:2px;
}

.render-grp {
  margin-top:10px;
  background-color:#37566C;
  padding-top:5px;
  padding-bottom:5px;
}

.model-grp {
  background-color:#5483A5;
}

.post-preview, .post-subtitle {
  color:#D1E6E9;
  background-color:#5483A5;
}

.post-title {
  color:#37566C;
  background-color:#9CB8CD;
}

.post-title:hover {
  text-decoration:none;
}

.blog-title-bar {
  background-color:#9CB8CD;
  padding:5px;

  margin-right:20px;
  margin-bottom:10px;
  margin-top:10px;
  width:98%;
  float:left;
}

.blog-top-bar {
  background-color:#37566C;
  padding:10px;
  width:100%;
}

.blog-title {
  color:#1A2934;
  background-color:#9CB8CD;
  text-align:left;
  margin-bottom:7px;
  margin-right:10px;
  margin-top:5px;
  margin-left:10px;
}

.col-md-offset-1 {

}

h2 {
  line-height:1.3;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  -webkit-transition: outline-color 0.5s;
  outline-color:transparent;
  float:left;
  color:#1A2934;
}

h2:hover {
  outline-color:#1A2934;
  color:#1A2934;
  outline-style:solid;
  outline-width: 3px;
  text-decoration:none; 
}

.img-thumbnail {
  background-color:#37566C;
  border-color:#37566C;
  height:150px;
  width:200px;
  margin-top:30px;
  margin-bottom:10px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.blog-description {
  padding-left:10px;
  padding-right:10px;
  text-align:left;
  color:#FFFFFF;
}

.model-description {
  padding-left:10px;
  padding-right:10px;
  text-align:left;
  color:#FFFFFF;
  margin-left:-5px;
  margin-top:10px;
}

.album-link {
  color:#FFFFFF;
  text-decoration:none;
  -webkit-transition: outline-color 0.5s;
  outline-color:transparent;
}

.album-link:hover {
  outline-color:#FFFFFF;
  color:#FFFFFF;
  outline-style:solid;
  outline-width: 2px;
  outline-offset:3px;
  text-decoration:none; 
}

.post-meta {
    padding-left:10px;
    padding-bottom:10px;
    padding-top:10px;
    background-color: #37566C;
    text-align:left;
}

.navbar .brand, .navbar .nav > li > a {
  outline-color:transparent;
  -webkit-transition: outline-color 0.5s;
}

.navbar .brand, .navbar .nav > li > a:hover {
  color:#D1E6E9;
  outline-color:#9CB8CD;
  outline-style:solid;
  outline-width: 3px;
  outline-offset: -10px;
}

.readMore {
  color:#37566C;
  outline-color:transparent;
  -webkit-transition: outline-color 0.5s;
}

.readMore:hover {
  color:#37566C;
  outline-color:#37566C;
  outline-style:solid;
  outline-width: 2px;
  outline-offset: 3px;
  text-decoration:none; 
}

.photography-gallery {
  background-color:#5483A5;
  padding-top:10px;
  padding-bottom:10px;
}

.photography-thumb {
  width:200px;
  margin:5px;
  border-style:solid;
  border-color:#1A2934;
  border-width:4px;
}

.photography-title {
  margin-left:10px;
  margin-bottom:4px;
  margin-right:10px;
  margin-top:0px;
  color:#1A2934;
}

.photography-top-bar {
  background-color:#37566C;
  padding:10px;
}

.photography-title-bar {
  background-color:#9CB8CD;
  padding:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:10px;
}

.photography-bottom-bar {
  background-color:#37566C;
  padding:10px;
}



.model-title-bar {
  background-color:#9CB8CD;
  padding:5px;

  margin-bottom:3px;
  margin-top:10px;
  margin-right:10px;
  margin-left:-5px;
  
}

.model-title {
  margin-left:10px;
  margin-bottom:0px;
  margin-right:10px;
  margin-top:0px;
  color:#1A2934;

}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav {
    margin-top:20px;
    margin-right:-15px;
    padding:0px;
  }
}



/*

Dark Dark
#1A2934

Dark
#37566C

Medium Dark
#5483A5

Medium Light
#9CB8CD

Light
#D1E6E9

*/